/**
 * Fonts
*/

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot?") format("eot"),
  url("../fonts/OpenSans-Regular.woff") format("woff"),
  url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
}
