@font-face {
	font-family: 'Open Sans';
  font-weight: 300 800;
	font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
	src: url('../fonts/OpenSans-Variable.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans';
  font-weight: 300 800;
	font-stretch: 75% 100%;
  font-style: italic;
  font-display: swap;
	src: url('../fonts/OpenSansItalic-Variable.woff2') format('woff2');
}