/**
 * Add custom styles
 *
 * CSS variables are defined in "theme.json"
 * https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json
 */
 
// Grayscale vars
$black:     var(--wp--preset--color--black) !default;
$dark-gray: var(--wp--preset--color--dark-gray) !default;
$gray:      var(--wp--preset--color--gray) !default;
$white:     var(--wp--preset--color--white) !default;

// Color vars
$charcoal:  var(--wp--preset--color--charcoal) !default;
$green:     var(--wp--preset--color--green) !default;
$yellow:    var(--wp--preset--color--yellow) !default;
$orange:    var(--wp--preset--color--orange) !default;
$red:       var(--wp--preset--color--red) !default;

// Spacing
$spacing-vertical:   var(--wp--custom--spacing--vertical) !default;
$spacing-horizontal: var(--wp--custom--spacing--horizontal) !default;

// Breakpoints
$xs: "20em";
$sm: "30em";
$md: "40em";
$lg: "48em";
$xl: "64em";
